.hr {
    width: 1366px;
    margin-left: -10px;
    /* border: 0.1px solid rgb(182, 186, 187);
    border-: 10px; */
    border-top: 1px  rgb(138, 142, 143);

}

/* .signn {
    
    justify-content: center;
    align-items: center;
    justify-items: center;
} */

img {
    margin-left: 150px;
    margin-top: 10px;
}

.create {
    color: rgb(72, 72, 121);
    text-align: center;
    font-size: 14px;
}

.for-forms {
    text-align: center;
    
}

p {
    text-align: center;
}

.input {
    width: 520px;
    height: 50px;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    border: 0.5px solid rgb(182, 186, 187);
    /* border-color: red; */
    border-radius: 3px;
    outline: none;
    
}

.input:focus {
    border: 0.5px solid rgb(87, 167, 233);  
}

.next {
    width: 520px;
    height: 50px;
    margin-top: 25px;
    background-color: rgb(87, 167, 233);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;  
    transition: 0.25s;
}

.next:hover {
    background-color: rgb(74, 149, 211);
   
}

.label {
    margin-left: -325px;
}

.p-reg {
    margin-left: -110px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.p-or {
    margin-left: -425px;
    margin-top: 30px;
}

.footer-hr {
    width: 510px;
    border-top: 1px solid rgb(230, 237, 238);
}